.button {
    display: block;
    background-color: var(--primary-color);
    width: 40%;
    margin-top: 1rem;
    max-width: 20rem;
    padding: 1.125rem;
    color: var(--contrast-light-color);
    font-size: var(--font-size-button);
    font-family: var(--font-family-all);
    margin-left: 0%;
    margin-top: 12%;
    align-self: center;
  }
  
  .simple-button {
    display: block;
    background-color: var(--primary-color);
    width: 20%;
    margin-top: 1rem;
    max-width: 20rem;
    padding: 1.125rem;
    color: var(--contrast-light-color);
    font-size: var(--font-size-button);
    font-family: var(--font-family-all);
    margin-left: 70%;
    margin-top: 0%;
    align-self: flex-end;
  }
  
  .simple-button--add {
    color: var(--primary-color);
  }
  
  .simple-button--delete {
    color: var(--warning-color);
  }
  
  .simple-button--edit {
    color: var(--success-color);
  }
  