.caja{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  position: static;
  width: 960px;
  height: 115px;
  left: 0px;
  top: 0px;
  
  /* Preto/branco */
  
  background: #FFFFFF;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  padding-left: 180px;
}

.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  position: static;
  width: 415px;
  height: 40px;
  left: calc(50% - 393px/2 + 104px);
  top: 5px;
  
  /* Preto/05% */
  
  background: #F5F5F5;
  border-radius: 20px;
  
  /* Inside auto layout */
  
  flex: none;
  flex-grow: 0;
  margin: 0px 0px;
 }

 .container-4{
    overflow: hidden;
    width: 415px;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 3%;
    margin-right: 3%;
    
  }

  .container-4 input#search{
    width: 393px;
    height: 50px;
    background: #F5F5F5;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    padding-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
  }

  .container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #262e90;
    opacity: 0;
    font-size: 10pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }

  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
 
  .container-4:hover button.icon:hover{
    background: #4f5b66;
  }

.divButton{
    width: 200px;
    height: 34px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    padding-left: 260px;
    position: static;
    left: 0px;
    top: 115px;

}

  .btnLogin{
    position: static;
    width: 100px;
    height: 34px;
    left: 270px;
    top: 16px;

    font-family: var(--font-family-all);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-style: dotted;
    border-color: #2A7AE4;
    /* identical to box height */


    /* Azul/100% */

    color: #2A7AE4;
    background: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px 0px 0px;
  }
