

.productos-title{
    display: flex;
    flex-direction: row;
    position: static;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    margin-right: 20px;
}

.text-prod{
    position: static;
    width: 148px;
    height: 38px;
    left: 0px;
    top: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */


    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 61px 0px 8%;
}

.links1{
    position: static;
    width: 65px;
    height: 19px;
    left: 0px;
    top: 2.5px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Azul/100% */

    color: #2A7AE4;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 8px 250px 880px;
}

.productos-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1136px;
    height: 190px;
    left: 152px;
    top: 531px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 100px 0px 8%;
}

.img-list{
    padding: 0px 20px 10px 20px;
    position: static;
    width: 176px;
    height: 174px;
    left: 0px;
    top: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 8px 0px;
}

.productos-txt
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1136px;
    height: 130px;
    left: 152px;
    top: 531px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 100px 0px 8%; 
}

.text-pro{
    padding: 0px 20px 5px 20px;
    position: static;
    width: 176px;
    height: 16px;
    left: 0px;
    top: 182px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.precio-prod{
    padding: 0px 20px 5px 20px;
    position: static;
    width: 176px;
    height: 19px;
    left: 0px;
    top: 206px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.link-prod{
    padding: 0px 20px 4px 20px;
    position: static;
    width: 100px;
    height: 19px;
    left: 0px;
    top: 233px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Azul/100% */

    color: #2A7AE4;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 8px 0px;
}